*{
    margin:0;padding:0;text-display: none;list-style: none;
}
body,html{
    width:100%;
    height:100%;
}
header{
    width:600px;
    height:45px;
    line-height: 45px;
    text-align: center;
    margin:10px auto 0;
    font-size: 34px;
}
header>a{
    font-size: 22px;
}
.a{
    color: #ff6700;
}
table{
    width:600px;
    height: auto;
    margin:0 auto;
    border:1px solid #cccccc;
}
table th{
    border:1px solid #cccccc;
    text-align: center;
}
table td{
    border:1px solid #cccccc;
    text-align: center;
}
.box{
    width:350px;
    height:500px;
    margin:0 auto;
}
.box>img{
    width:350px;
    height:250px;
    display: block;
}
.form{
    width:100%;
    height:250px;
    overflow: hidden;
}
.form>div{
    width:300px;
    height:60px;
    margin:10px auto;
    position: relative;
}
.pic{
    position:absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0;
    margin:auto;
    display: block;
    width:40px;
    height:40px;
    background-color: #ff6700;
    transform: translateX(-120px);
}
.input{
    border-radius: 20px;
    width:200px;
    height: 20px;
    position:absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0;
    margin:auto;
    transform:translateX(10px);
    outline: none;
}
.submit{
    width:100px;
    height:30px;
    border-radius: 20px;
    margin-left:120px;
    background:url("/img/4_07.png") center / cover;
    outline: none;
}
.info{
    width:150px;
    height:50px;
    background-color: #cccccc;
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    text-align: center;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    animation: info 3s forwards;
}
@keyframes info {
    0%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}